<div id="title" class="title-s">
<h1 #titleAbout (click)="chageColor(titleAbout)">{{title}}</h1>
  <div class="text-center">
    <img class="rounded-circle z-depth-2 img-thumbnail" style="height: 25vh" alt="100x100" src={{img}}
            data-holder-rendered="true">
  </div>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>

<article class="about container-fluid">
  <div class="row">
    <div class=" col-sm-12 col-md-6 " >
      <h2>Sobre mi</h2>
      <p>Soy un joven entusiasta y apasionado con la tecnología,
        desde pequeño me surgió un interés por desarrollar tecnología para las computadoras,
         en mis estudios universitarios me incline por el desarrollo web,
        me fascino la idea de que un solo software pudiera ser accesible desde cualquier parte del mundo.</p>
      <p>Actualmente me dedico a crear,diseñar, actualizar y dar soporte a aplicaciones web dinámicas, responsivas y modernas. </p>
      <p>Mi pasión por la programación me a llevado a un camino donde continuamente sigo aprendiendo y adquiriendo
        nuevas habilidades sobre las tecnologías web que, están en constante actualización.
        Apasionado con el trabajo que realizo, ofrezco en cada proyecto total atención, dedicación,
        personalización y calidad al cliente.</p>
    </div>

    <div class=" col-sm-12 col-md-6 " >
      <h2>Conocimientos y habilidades</h2>

      <ul style="margin: 30px">
        <li class="list-p"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
          <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
        </svg><strong>  Desarrollador FrontEnd (del lado del cliente)</strong></li>
        <li>HTML5</li>
        <li>CSS3, Flexbox y Grids </li>
        <li>Javascript</li>
        <li>Responsive Web Design (Diseño adaptable)</li>
        <li>UX/UI</li>
        <li>Frameworks CSS: Bootstrap y Bulma</li>
        <li>Frameworks JS: Jquery, React, Vue y Angular </li>
        <li>Control de versiones: Git/GitHub</li>

      </ul>
      <ul style="margin: 30px">
        <li class="list-p"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-hdd-stack-fill" viewBox="0 0 16 16">
          <path d="M2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1z"/>
        </svg>
        <strong>  Desarrollo BackEnd (lado del servidor)</strong> </li>
        <li>
          PHP 7
        </li>
        <li> NodeJS</li>
        <li> Espress JS</li>
        <li>MySql</li>
        <li>NoSQL(Mongo DB)</li>
        <li>CMS: wordPress y PrestaShop</li>
      </ul>
    </div>
  </div>


</article>
