<!--<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">about me</a></li>
    <li><a [routerLink]="['/proyectos']"  [routerLinkActive]="['actived']">Proyects</a></li>
    <li id="logo" class="logo"><a href="#">MTG</a></li>
    <li><a [routerLink]="['/crear-proyecto']"  [routerLinkActive]="['actived']">new project</a></li>
    <li><a [routerLink]="['/contacto']"  [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
</header> -->

<nav class="navbar navbar-expand-lg navbar-light" style="background: rgba(53, 103, 164, 0.8)">
  <a id="logo" #logo2 class="logo navbar-brand"  (click)="chageColor(logo2)" >MTG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']" href="#">sobre mi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/proyectos']"  [routerLinkActive]="['actived']">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" disabled [routerLink]="['/crear-proyecto']"  [routerLinkActive]="['actived'] ">new project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacto']"  [routerLinkActive]="['actived']">Contactos</a>
      </li>
    </ul>
  </div>
  </nav>


<section id="content">
  <router-outlet></router-outlet>
</section>


<footer class="footer text-center">
  <p> power by <strong>Torresnet&copy;</strong> </p>
  <p>"ojos de luz , donde todo es tiniebla..."</p>
</footer>
